@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

@layer base {
  body {
    @apply bg-slate-50;
  }
  a {
    @apply text-blue-800;
  }
  a:hover {
    @apply underline;
  }
}

header h1 {
    font-family: 'Nunito Sans', sans-serif;
    @apply text-8xl text-center font-extralight;
}

.listbox {
  @apply pb-3 bg-slate-200 rounded-br rounded-bl shadow; 
  /* flex-1 ml-3  */
}
.listbox:first-child {
  @apply ml-0;
}

.listbox .heading {
  @apply bg-slate-700 text-white text-lg rounded-tr rounded-tl pl-3 py-2;
}
.listbox .body ul {
  @apply mx-3;
}
.listbox .body li {
  font-family: 'Nunito Sans', sans-serif;
  @apply pt-1 pb-1 border-dotted border-b border-slate-400;
}
.listbox .body li:last-child {
  @apply border-none;
}

.listbox .body li a {
  @apply inline-block ml-2;
}

footer {
  @apply text-center text-sm mt-3 text-slate-900 font-thin;
}

footer a {
  @apply text-slate-900;
}
